<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.pansholoko.mtm</string>
    <key>ProgramArguments</key>
    <array>
	    <string>/usr/local/bin/mtm.sh</string>
    </array>
	<key>KeepAlive</key>
	<false/>
	<key>StandardOutPath</key>
	<script>/dev/null</script>
	<key>RunAtLoad</key>
    <false/>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
</dict>
</plist>